<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-title>Members Distribution</mat-card-title>
    <div class="row m-t-24">
      <div class="col-7"></div>
      <div class="col-5 d-flex align-items-start">
        <apx-chart
          [series]="trafficdistributionChart.series"
          [labels]="trafficdistributionChart.labels"
          [dataLabels]="trafficdistributionChart.dataLabels"
          [chart]="trafficdistributionChart.chart"
          [legend]="trafficdistributionChart.legend"
          [colors]="trafficdistributionChart.colors"
          [stroke]="trafficdistributionChart.stroke"
          [tooltip]="trafficdistributionChart.tooltip"
          [plotOptions]="trafficdistributionChart.plotOptions"
          [responsive]="trafficdistributionChart.responsive"
        ></apx-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
