<mat-card class="cardWithShadow overflow-hidden">
  <mat-card-header class="d-flex align-items-center p-x-24">
    <mat-card-title class="d-flex align-items-center">
      <span class="ml-2">Statistics</span>
    </mat-card-title>
    <div class="m-l-auto"></div>
  </mat-card-header>

  <div class="m-b-32 p-x-24 m-t-20">
    <div class="d-flex align-items-center">
      <mat-icon class="mat-icon mr-2" aria-hidden="false">people</mat-icon>
      <h4 class="mat-headline-5 f-s-16">{{ memberCount }} Members</h4>
    </div>
    <div class="d-flex align-items-center">
      <mat-icon class="mat-icon mr-2" aria-hidden="false">build</mat-icon>
      <h4 class="mat-headline-5 f-s-16">{{ toolCount }} Outils</h4>
    </div>
    <div class="d-flex align-items-center">
      <mat-icon class="mat-icon mr-2" aria-hidden="false">article</mat-icon>
      <h4 class="mat-headline-5 f-s-16">{{ publicationCount }} Publications</h4>
    </div>
    <div class="d-flex align-items-center">
      <mat-icon class="mat-icon mr-2" aria-hidden="false">event</mat-icon>
      <h4 class="mat-headline-5 f-s-16">{{ eventCount }} Events</h4>
    </div>
  </div>
</mat-card>
