<mat-card class="cardWithShadow">
  <div class="search-container" style="margin-top: 16px; margin-left:10px; display: flex; align-items: center;">
    <mat-form-field appearance="outline" style="width: 300px; margin-right: 16px;">
      <mat-label>Search Events</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
    </mat-form-field>
  </div>

  <mat-card-header class="p-t-24">
    <div class="d-flex align-items-center justify-content-between w-100">
      <mat-card-title>Events List</mat-card-title>
      <div class="">
        <button mat-flat-button color="primary" #tooltip="matTooltip" matTooltip="Add a tool here"
          matTooltipPosition="right" class="ml-auto m-l-8" matTooltipHideDelay="100000" (click)="addEvent()">
          <mat-icon>add</mat-icon>
          Add Event
        </button>
        <button mat-flat-button color="primary" #tooltip="matTooltip" matTooltip="Add a tool here"
          matTooltipPosition="right" class="ml-auto m-l-8" matTooltipHideDelay="100000" (click)="OpenDialog()">

          Affect Member
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content class="p-t-0">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="titre">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let element">{{ element.titre }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date : "medium" }}
          </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="lieu">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">{{ element.lieu }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/ui-components/events', element.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteEvent(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>