<mat-card class="cardWithShadow">
  <div class="search-container" style="margin-top: 16px; margin-left:10px; display: flex; align-items: center;">
    <mat-form-field appearance="outline" style="width: 300px; margin-right: 16px;">
      <mat-label>Search Student</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
    </mat-form-field>
  </div>
  <mat-card-header class="p-t-24">
    <div class="d-flex align-items-center justify-content-between w-100">
      <mat-card-title>Student List</mat-card-title>
      <button mat-flat-button color="primary" #tooltip="matTooltip" matTooltip="Add a member here"
        matTooltipPosition="right" class="ml-auto m-l-8" matTooltipHideDelay="100000" (click)="addMember()">
        <mat-icon>add</mat-icon>
        Add Student
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class="p-t-0">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Id
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <span>{{ element.id }}</span>
          </td>
        </ng-container>

        <!-- Cin Column -->
        <ng-container matColumnDef="cin">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Cin
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <span>{{ element.cin }}</span>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Name
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <span>{{ element.nom }} {{ element.prenom }}</span>
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Type
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <span>{{ element.type }}</span>
          </td>
        </ng-container>

        <!-- CV Column -->
        <ng-container matColumnDef="cv">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            CV
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <a href="{{ element.cv }}"><mat-icon>picture_as_pdf</mat-icon></a>
          </td>
        </ng-container>

        <!-- Created Date Column -->
        <ng-container matColumnDef="dateDeNaissance">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Birth Date
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.dateNaissance | date : "medium" }}
          </td>
        </ng-container>

        <!-- Date Inscription Column -->
        <ng-container matColumnDef="dateInscription">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Date Inscription
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.dateInscription | date : "medium" }}
          </td>
        </ng-container>

        <!-- Diplome Column -->
        <ng-container matColumnDef="diplome">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Diplome
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <span>{{ element.diplome }}</span>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Actions
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button mat-icon-button [routerLink]="['consult', element.id]">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/ui-components/students', element.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>