<mat-card class="b-1 shadow-none">
    <mat-card-header>
        <mat-card-title>Fill out your Infos</mat-card-title>
    </mat-card-header>

    <mat-card-content class="b-t-1">
        <form [formGroup]="form" (ngSubmit)="sub()">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Cin</mat-label>
                <input matInput formControlName="cin" placeholder="insert your cin here" />
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="insert your name here" />
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>cv</mat-label>
                <input matInput formControlName="cv" placeholder="insert your cv here" />
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Type</mat-label>
                <input matInput formControlName="type" placeholder="insert your type here" />
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">
                Submit
            </button>
        </form>
    </mat-card-content>
</mat-card>